*{
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
}

/* START NAV BAR CLASSES */
nav.main_navigation {
  width: 100vw;
  height: 50px;
  background-color: darkgray;
}

ul.align_navigation_items {
  width: 50vw;
  min-width: 325px;
  margin: auto;
}

nav.main_navigation li {
  float: left;
  width: 10vw;
  min-width: 80px;
  margin: 10px 1vw;
  padding: 5px;
  background: gray;
  list-style: none;
  text-align: center;
}

nav.main_navigation a:link,
nav.main_navigation a:visited  {
  color: white;
  text-decoration: none;
}
/* END NAV BAR CLASSES */


/* START CONTAINER CLASSES */
section.content {
  margin: auto;
  margin-top: 30px;
  width: 80vw;
  height: 600px;
  overflow: auto;
  background: lightgray;
  background-image: url("img/background.gif");
  background-repeat: no-repeat;
  background-size: cover;

}

div.user_content {
  width: 100%;
  overflow: hidden;
}
/* END CONTAINER CLASSES */

/* START FORM AND TEXT CLASSES */
h1, h2 {
  font-family: Redressed, cursive;
  color: red;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin: 20px;
}



p.warning {
  color: red;
  font-size: 20px;
}

 p.content {
   font-size: 20px;
   font-weight: 600;
 }


div.login_form {
  width: 20vw;
  min-width: 20vw;
  margin: 100px auto;
  padding: 20px 50px;
  background-color: rgba(189, 189, 189, 0.70);
  border-radius: 20px;
}

input {
  width: 20vw;
  color: black;
  font-size: 25px;
}

input[type=text]:focus,
input[type=password]:focus {
  background: #e1f5fe;
}

input[type=submit] {
  padding: 5px;
  color: black;
}

/* END FORM AND TEXT CLASSES */

/* START TABLE CLASSES */
div.col_2 {
  width: 46%;
  max-width: 46%;
  float: left;
  background: blue;
  margin: 20px 1%;
  padding: 20px 1%;
  background: rgba(224, 224, 224, 0.80);
  border-radius: 10px;
  height: 300px
}
/* END TABLE CLASSES */


/* START IMAGE CLASSES */
  img {
    max-width: 100%;
    height: auto;
  }
/* END IMAGE CLASSES */
